## Creating a Database with DuckDB
In this notebook, we are going to create a local database with DuckDB.

In [3]:
import duckdb
import pandas

In [13]:
pwd

'/home/gabriel/Documents/Repositories/data-engineering-with-dbt-linkedin-learning/scripts'

## Creating an empty database
With the command bellow, we are going to create a database called `nyc_parking_violations` on our local `/data' folder.

In [8]:
sql_query = '''
show tables
'''

with duckdb.connect('../data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

Empty DataFrame
Columns: [name]
Index: []

## Populating the Database
With the database created, we can populate it with datasets downloaded from NYC Parking Violations.

In [14]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE parking_violation_codes AS
SELECT *
FROM read_csv_auto(
'../data/dof_parking_violation_codes.csv',
normalize_names=True
)
'''

sql_query_import_2 = '''
CREATE OR REPLACE TABLE parking_violations_2023 AS
SELECT *
FROM read_csv_auto(
'../data/parking_violations_issued_fiscal_year_2023_sample.csv',
normalize_names=True
)
'''

with duckdb.connect('../data/nyc_parking_violations.db') as con:
    con.sql(sql_query_import_1)
    con.sql(sql_query_import_2)

In [15]:
sql_query = '''
show tables
'''

with duckdb.connect('../data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

                      name
0  parking_violation_codes
1  parking_violations_2023

### Checking for updated tables

In [16]:
sql_query = '''
SELECT * 
FROM parking_violation_codes
LIMIT 5
'''

with duckdb.connect('../data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

,code,definition,manhattan_96th_st_below,all_other_areas
0,1,FAILURE TO DISPLAY BUS PERMIT,515,515
1,2,NO OPERATOR NAM/ADD/PH DISPLAY,515,515
2,3,UNAUTHORIZED PASSENGER PICK-UP,515,515
3,4,BUS PARKING IN LOWER MANHATTAN,115,115
4,5,BUS LANE VIOLATION,250,250